.App {
  font-family: 'Red Hat Text', sans-serif;
  letter-spacing: .3rem;
  font-weight: 700;
  text-align: center;
  background-color: hsl(234, 17%, 12%);
  justify-content: center;
}

.text-h1 {
  font-size: 96px;
}

.text-h2 {
  font-size: 72px;
}

.text-h3 {
  font-size: 48px;
}

.text-h4 {
  font-size: 34px;
}

.text-h5 {
  font-size: 24px;
}

.text-h6 {
  font-size: 20px;
}

.text-subtitle {
  font-size: 16px;
}


.flip-enter-active{  
  transition: transform 0.5s;
  transform-style: preserve-3d;
  transform: rotateX(-180deg);
}